* {
    box-sizing: border-box;
    /* padding: 0; */
    /* margin: 0; */
    font-family: sans-serif;
}

.dashbody {
    max-width: 100vw;
    /*margin: auto;*/
    margin-right: 2rem;
    background-color: #F5F6FA;
}

.grid{
    /*min-height: auto;*/
    display: grid;
    grid-template-columns: 0.7fr repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "m m m m m m"
    "o d d d d d"
    "o s1 s2 s3 s4 s5"
    "o c c c c c"
    "o z z z z z"
    "o t t t t t"
    /* "o m m m m m"
    "o m m m m m"
    "o m m m m m"
    "o m m m m m" */
    ;
    gap: 0rem;
    
}

.main {
    /*background-color: bisque;*/
    grid-area: m;
    grid-template-rows: repeat(5, 1fr);
    padding-block: 1rem;
    padding-left: 2rem;
    border-bottom: 1px solid grey;
    word-spacing: 5rem;
    text-align: center;
    background-color:#0A3D91;
    color: white;
    font-weight: 800;
    border-radius: 10px 10px 0px 0px;
    padding-block: 1rem;
    position: sticky;
    top: 0;
    /*width: 100%;*/
    
}

.main i{
    margin-right: 8px;
}


.title {
    /*background-color: cadetblue;*/
    grid-area: d;
    grid-template-rows: repeat(5, 1fr);
    min-height: auto;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    padding-block: 1rem;
    text-align: justify;
    padding-left: 2rem;
}

.description {
    /*background-color: cornflowerblue;*/
    grid-area: d;
    grid-column: 2 / 6;
    grid-template-rows: repeat(5, 1fr);
    font-size: 14px;
    font-weight: 400;
    padding-top: 1rem;
    text-align: justify;
}

.mtinfo {
    /*background-color: lightgoldenrodyellow;*/
    grid-area: d;
    grid-template-rows: repeat(5, 1fr);
    font-size: 15px;
    font-weight: 500;
    color: darkgray;
    padding-top: 1rem;

}

.section1 {
    /*background-color: aqua;*/
    grid-area: s1;
    border-radius: 10px 0px 0px 10px;
    /*border-left: 1px solid rgb(209, 209, 209);*/
}

.section2 {
    /*background-color: indianred;*/
    grid-area: s2;
}

.section3 {
    /*background-color: lightgreen;*/
    grid-area: s3;
}

.section4 {
    /*background-color: seagreen;*/
    grid-area: s4;
}

.section5 {
    /*background-color: thistle;*/
    grid-area: s5;
    border-radius: 0px 10px 10px 0px;
    border-right: none;
}

.padding {
    padding-block: 1rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    /*border-block: 1px solid rgb(209, 209, 209);*/
    border-right: 1px solid rgb(230, 230, 230);
    box-shadow: 0 2px 8px rgba(0,0,0,0..08);
}

.padding i {
    margin: 6px;
    color: #2f3b52;
  font-size: 14px;
}

.sidemenu {
    background-color:#1E2A45 ;
    grid-area: o;
    /*grid-row: 1 / 6;*/
    margin-right: 1rem;
    /*margin-top: -1rem;*/
    line-height: 2.5rem;
    color: white;
    padding-top: 2rem;
}
.sidemenu li{
    padding-right: 1rem;
    font-weight: 300;

}

.sidemenu li:hover {
    background-color: #2F66F3;
    width: 100%;
    

}

.sidemenu i {
    margin-right: 8px;
}

.chart {
    /*background-color: blue;*/
    grid-area: c;
    margin: 0px;
    padding: 0rem;
    margin-top: 1rem;
    /*border: 1px solid grey;*/
}

.summary {
    /*background-color: purple;*/
    grid-area: z;
    margin: 0px;
    padding: 2rem;
    margin-top: 1rem;
    /*border: 1px solid rgb(209, 209, 209);*/
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.summary th, .summary td, .history th, .history td {
  padding: 10px 12px;
  border-bottom: 1px solid #e0e0e0;
}

.summary thead, .history thead {
    text-align: center;
    background-color: #E8F0FE;
    color: #1A1A1A;
}

.summary tbody tr:nth-child(even), .history tbody tr:nth-child(even) {
  background-color: white;
}

.summary tbody tr:hover, .history tbody tr:hover {
  background-color: #F3F6FF;
}

.summary td:first-child, {
  font-weight: bold;
  text-align: left;
}

.summary td:last-child {
  font-weight: 600;
  color: #006400;
}

.history {
    /*background-color: yellow;*/
    grid-area: t;
    margin: 0px;
    padding: 2rem;
    margin-top: 1rem;
    /*border: 1px solid rgb(209, 209, 209);*/
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
        
}

.chartkep {
    object-fit: cover;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

.section {
    font-size: 30px;
    font-weight: 600;
    color: #006B3C;
}

ul {
    list-style-type: none;
}