/** {
    display: block;
    max-width: 80vw;

}*/

body {
    background-color: rgb(224, 224, 223);
}

#bmwh1 {
    font-size: 2rem;
    color: darkblue;

}

.bmwh2 {
    font-size: 1rem;
    color: mediumblue;
    font-weight: 600;

}

.bmwdiv {}

.bmwimgbal {
    float: left;
    max-height: 200px;
    object-fit: cover;
    }

.bmwimgjobb {
    float: right;
    max-height: 200px;
    object-fit: cover;
}

.bmwul {}

.gombok {
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px;
    background-color: rgb(16, 134, 95);
    text-align: center;
    max-width: 150px ;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    color: white;
}
.knitting-page {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #e8e8e7;
  color: #222;
  line-height: 1.6;
  padding: 20px;
}


.knitting-page nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.knitting-page nav ul li {
  display: inline-block;
}

.knitting-page nav ul li a {
  color: #2a4b8d;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.knitting-page nav ul li a:hover {
  color: #5a7ee0;
}


.knitting-page .content {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}


.knitting-page h1 {
  color: #2a4b8d;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
}

.knitting-page h2 {
  color: #2a4b8d;
  margin-top: 25px;
  text-align: center;
}   
.knitting-page h4 {
  color: #334;
  margin-top: 30px;
}


.knitting-page p {
  margin-bottom: 20px;
  text-align: justify;
}


.knitting-page .image-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px 0;
}

.knitting-page .image-row img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.knitting-page .image-row img:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}


.knitting-page .image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.knitting-page .image-center img {
  width: 60%;
  max-width: 480px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.knitting-page ul {
  list-style-type: square;
  padding-left: 25px;
  margin-bottom: 20px;
}
.knitting-page .techniques h4 {
  color: #2a4b8d;       
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 10px;
}

.knitting-page footer {
  text-align: center;
  background-color: #d9cfc1;
  color: #333;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 8px;
  margin-top: 40px;
}
.knitting-page .closing-section {
  margin-top: 60px;
  padding: 0 30px;
  background: none;
  border: none;
}


.knitting-page .closing-section h2 {
  text-align: center;
  color: #2a4b8d;
  margin-bottom: 25px;
}


.knitting-page .closing-text {
  text-align: justify;
  color: #333;
  max-width: 900px;
  margin: 0 0 30px 0; 
  line-height: 1.8;
  font-size: 1rem;
  padding-left: 0;
}


.knitting-page .closing-section .image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 10px 0;
}

.knitting-page .closing-section .image-center img {
  width: 55%;
  max-width: 420px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.knitting-page .closing-quote {
  text-align: center;
  font-style: italic;
  color: #999;           
  font-size: 1rem;
  line-height: 1.6;
  margin: 15px auto 50px auto;
  max-width: 600px;
}
@media (max-width: 768px) {

  .knitting-page .content {
    padding: 15px;
  }

 
  .knitting-page .image-row {
    flex-direction: column;
    align-items: center;
  }

  .knitting-page .image-row img {
    width: 90%;
    height: auto;
  }


  .knitting-page .image-center img,
  .knitting-page .closing-section .image-center img {
    width: 90%;
    max-width: none;
  }

  
  .knitting-page .closing-text {
    padding: 0 10px;
  }

  .knitting-page .closing-quote {
    font-size: 0.95rem;
    margin: 10px 15px 40px 15px;
  }
}


.dashbody {
    max-width: 100vw;
    /*margin: auto;*/
    margin-right: 2rem;
    background-color: #F5F6FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.grid{
    /*min-height: auto;*/
    display: grid;
    grid-template-columns: 0.7fr repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "m m m m m m"
    "o d d d d d"
    "o s1 s2 s3 s4 s5"
    "o c c c c c"
    "o z z z z z"
    "o t t t t t"
    /* "o m m m m m"
    "o m m m m m"
    "o m m m m m"
    "o m m m m m" */
    ;
    gap: 0rem;
    
}

.main {
    /*background-color: bisque;*/
    grid-area: m;
    grid-template-rows: repeat(5, 1fr);
    padding-block: 1rem;
    padding-left: 2rem;
    /*border-bottom: 1px solid grey;*/
    word-spacing: 5rem;
    text-align: center;
    background-color:#0A3D91;
    color: white;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    padding-block: 1rem;
    position: sticky;
    top: 0;
    /*width: 100%;*/
    
}

.main i{
    margin-right: 8px;
}


.title {
    /*background-color: cadetblue;*/
    grid-area: d;
    grid-template-rows: repeat(5, 1fr);
    min-height: auto;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    padding-block: 1rem;
    text-align: justify;
    padding-left: 2rem;
}

.description {
    /*background-color: cornflowerblue;*/
    grid-area: d;
    grid-column: 2 / 6;
    grid-template-rows: repeat(5, 1fr);
    font-size: 14px;
    font-weight: 400;
    padding-top: 1rem;
    text-align: justify;
}

.mtinfo {
    /*background-color: lightgoldenrodyellow;*/
    grid-area: d;
    grid-template-rows: repeat(5, 1fr);
    font-size: 15px;
    font-weight: 500;
    color: darkgray;
    padding-top: 1rem;

}

.section1 {
    /*background-color: aqua;*/
    grid-area: s1;
    border-radius: 10px 0px 0px 10px;
    /*border-left: 1px solid rgb(209, 209, 209);*/
}

.section2 {
    /*background-color: indianred;*/
    grid-area: s2;
}

.section3 {
    /*background-color: lightgreen;*/
    grid-area: s3;
}

.section4 {
    /*background-color: seagreen;*/
    grid-area: s4;
}

.section5 {
    /*background-color: thistle;*/
    grid-area: s5;
    border-radius: 0px 10px 10px 0px;
    border-right: none;
}

.padding {
    padding-block: 1rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    /*border-block: 1px solid rgb(209, 209, 209);*/
    border-right: 1px solid rgb(230, 230, 230);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.padding i {
    margin: 6px;
    color: #2f3b52;
  font-size: 14px;
}

.sidemenu {
    background-color:#1E2A45 ;
    grid-area: o;
    /*grid-row: 1 / 6;*/
    margin-right: 1rem;
    /*margin-top: -1rem;*/
    line-height: 2.5rem;
    color: white;
    padding-top: 2rem;
}
.sidemenu li{
    /*padding-right: 1rem;*/
    font-weight: 300;

}

.sidemenu li:hover {
    background-color: #2F66F3;
    width: 100%;
        

}

.sidemenu i {
    margin-right: 8px;
}

.chart {
    /*background-color: blue;*/
    grid-area: c;
    margin: 0px;
    padding: 0rem;
    margin-top: 1rem;
    /*border: 1px solid grey;*/
}

.summary {
    /*background-color: purple;*/
    grid-area: z;
    margin: 0px;
    padding: 2rem;
    margin-top: 1rem;
    /*border: 1px solid rgb(209, 209, 209);*/
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.summary th, .summary td, .history th, .history td {
  padding: 10px 12px;
  border-bottom: 1px solid #e0e0e0;
}

.summary thead, .history thead {
    text-align: center;
    background-color: #E8F0FE;
    color: #1A1A1A;
}

.summary tbody tr:nth-child(even), .history tbody tr:nth-child(even) {
  background-color: white;
}

.summary tbody tr:hover, .history tbody tr:hover {
  background-color: #F3F6FF;
}

.summary td:first-child, {
  font-weight: bold;
  text-align: left;
}

.summary td:last-child {
  font-weight: 600;
  color: #006400;
}

.history {
    /*background-color: yellow;*/
    grid-area: t;
    margin: 0px;
    padding: 2rem;
    margin-top: 1rem;
    /*border: 1px solid rgb(209, 209, 209);*/
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
        
}

.chartkep {
    object-fit: cover;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

.section {
    font-size: 30px;
    font-weight: 600;
    color: #006B3C;
}

.sectionminus {
    font-size: 30px;
    font-weight: 600;
    color: #E74C3C;
}

ul {
    list-style-type: none;
}

.sidelink {
  color: white;
  text-decoration: none;
}

.dashboardfooter {
  width: 100%;
  margin: auto;
  background-color: #1E2A45;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding-block: 0.5rem;
  margin-top: -1rem;
  border-radius: 0px 0px 10px 10px;
}